/plot_path_beta2.0.png
/data_boson_configuration_anisotropic.txt
/plot_levy_harmonic_path2.0.png
/plot_dist5.0.png
/plot_levy_harmonic_path5.0.png
/plot_dist2.5.png
/plot_dist4.9.png
/data_boson_configuration.txt
/plot_boson_configuration.png
/plot_levy_harmonic_path0.1.png
/plot_levy_harmonic_path0.3125.png
/plot_levy_harmonic_path0.357142857143.png
