/plot-direct_pins_density.png
/plot-direct_pins-configuration.png
/plot-pins_noreject_periodic-N0450-L500.0-pair_corr_deviation.png
/plot-pins_noreject_periodic-N0450-L500.0-pair_corr.png
/plot-pins_noreject_periodic-N0024-L30.0-density.png
