/data_local_128_2.0.txt
/data_local_6_2.0.txt
/plot_A2_local_2.0_128.png
/plot_A2_local_2.0_6.png
/data_local_128_1.0.txt
/data_local_128_2.27.txt
/data_local_128_3.0.txt
/plot_A2_local_1.0_128.png
/plot_A2_local_2.27_128.png
/plot_A2_local_3.0_128.png
