/disk_configuration_N4_eta0.10.txt
/disk_configuration_N64_eta0.10.txt
/disk_configuration_N64_eta0.72.txt
/test.png
/disk_configuration_N64_eta0.79.txt
/disk_configuration_N64_eta0.39.txt
/disk_configuration_N64_eta0.78.txt
/disk_configuration_N64_eta0.42.txt
/disk_configuration_N64_eta0.71.txt
/N64_eta0.72.txt.png
/psi.dat
/psi.png
